<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <logger name="MisTxtLogger">
    <level value="ALL"/>
    <appender-ref ref="MisTxtFile" />
  </logger>

  <!--Txt记录形式-->
  <!--信息日志配置-->
  <appender name="MisTxtFile" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="..\\Logs\\" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="\\yyyyMM\\yyyyMMdd&quot;.log&quot;" />
    <param name="RollingStyle" value="Date" />

    <!--自定义成员 -->
    <parameter>
      <parameterName value="@UserID" />
      <dbType value="Int32" />

      <layout type="WebLogger.CustomLayout">
        <conversionPattern value="%UserID"  />
      </layout>

    </parameter>


    <layout type="WebLogger.CustomLayout">
      <param name="ConversionPattern" value="%n日志时间：%RecordTime [%t] %n日志级别：%-5p %n日 志 类：%c %n%m %n消息描述：%UserID%n描述2：：%Mes" />
    </layout>

  </appender>
</log4net>