<?xml version="1.0" encoding="utf-8"?>

<log4net>
  
  <logger name="MisTxtLogger">
    <level value="ALL"/>
    <appender-ref ref="MisTxtFile" />
    <appender-ref ref="LogSmtpAppender"/>
  </logger>

  <!--Txt记录形式-->
  <!--信息日志配置-->
  <appender name="MisTxtFile" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="..\\Logs\\" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="\\yyyyMM\\yyyyMMdd&quot;.log&quot;" />
    <param name="RollingStyle" value="Date" />

    <!--自定义成员 -->
    <parameter>
      <parameterName value="@UserID" />
      <dbType value="Int32" />

      <layout type="WebLogger.CustomLayout">
        <conversionPattern value="%UserID"  />
      </layout>

    </parameter>


    <layout type="WebLogger.CustomLayout">

      <header value="&#13;&#10;======================================================================================&#13;&#10;" />
      <param name="ConversionPattern" value="%n消息来源：%IpAddress 记录时间：[%RecordTime] 用户：[%UserId] [%UserName]  日志级别：%LevelName  %n消息内容：%Message %n 消息异常：%Exception" />
     
    </layout>

  </appender>

  <!--定义邮件发送-->
  <appender name="LogSmtpAppender" type="log4net.Appender.SmtpAppender">
    <authentication value="Basic" />
    <to value="guohailin@meierbei.com" />
    <from value="guohailin@meierbei.com" />
    <username value="guohailin@meierbei.com" />
    <password value="3586039x" />
    <subject value="应用错误日志消息" />
    <smtpHost value="smtp.exmail.qq.com" />
    <bufferSize value="2048" />
    <!--超长部分是否丢弃-->
    <lossy value="true" />
     <!--下面的定义， 就是 日志级别 大于 WARN 的， 才发邮件.-->  
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>

    </evaluator>
     <!--下面是 定义邮件的格式 （好多换行啊）--> 
    <layout type="WebLogger.CustomLayout">
      <header value="&#13;&#10;======================================================================================&#13;&#10;" />
      <param name="ConversionPattern" value="%n消息来源：%IpAddress 记录时间：[%RecordTime] 用户：[%UserId] [%UserName]  日志级别：%LevelName  %n消息内容：%Message %n 消息异常：%Exception" />

    </layout>

  </appender>
  
</log4net>